$white: #fff;
$blue: #2497fc;
$almostblack: #231f20;
$red: #fc2424;
$black: #000;
$black80: rgba(0, 0, 0, 0.8);
$white80: rgba(255, 255, 255, 0.8);
$fh1: 0.125rem;
$fh2: 0.193rem;
$fh3: 0.291rem;
$fh4: 0.35rem;
$z-level-1: 10;
$z-level-2: 20;
$z-level-3: 30;
$z-level-4: 40;
$z-level-5: 50;